name: Update Rules
on:
  workflow_dispatch:
  push:
    branches:
      - '0'
    paths:
      - 'base/**'
      - 'oth/**'
      - 'scripts/**'
  schedule:
    - cron: '0 */8 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout codebase
      uses: actions/checkout@v4
        
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        pip install requests pyyaml

    - name: Run update script
      run: |
        python scripts/update.py

    - name: Commit and Push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "Auto update rule sets"
        branch: '0'
        file_pattern: 'r d p'